@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
}

body {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  color: black;
}

section h2 {
  margin: 35px 0 10px;
}

@media screen and (min-width: 768px) {
  section h2 {
    margin: 0px 0 20px;
  }
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: clamp(2rem, 1.6479rem + 1.4085vw, 3rem);
  text-align: center;
}

@media screen and (min-width: 768px) {
  h2 {
    text-align: left;
  }
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

.container {
  width: min(1060px, 100% - 3rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  margin: 0 auto;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
}

header {
  background: black;
  background: url(../images/mobile/image-hero.jpg) no-repeat 50% 50%/cover;
  width: 100%;
  padding-block: 1.6em;
  height: 650px;
  position: relative;
}

@media screen and (min-width: 768px) {
  header {
    padding-block: 3em;
    background: -webkit-gradient(linear, left top, left bottom, from(#00000021), to(#000000a4)), url(../images/desktop/image-hero.jpg) no-repeat 50% 50%/cover;
    background: linear-gradient(#00000021, #000000a4), url(../images/desktop/image-hero.jpg) no-repeat 50% 50%/cover;
  }
}

header .container {
  -ms-grid-rows: 1fr 0.5fr 1fr;
      grid-template-rows: 1fr 0.5fr 1fr;
}

@media screen and (min-width: 768px) {
  header .container {
    -ms-grid-rows: 40px 1fr 1fr 0.5fr 40px;
        grid-template-rows: 40px 1fr 1fr 0.5fr 40px;
  }
}

header .hero {
  grid-column: span 6;
  border: 2.5px solid white;
  z-index: 0;
  padding: 35px 35px 25px 35px;
}

@media screen and (min-width: 768px) {
  header .hero {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    grid-column: span 7;
  }
}

header .hero h1 {
  text-transform: uppercase;
  color: white;
  font-size: clamp(2.5rem, 1.7958rem + 2.8169vw, 4.5rem);
}

header .hamb-menu {
  grid-column: span 1;
  position: relative;
  width: 100%;
  height: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  header .hamb-menu {
    display: none;
  }
}

header .hamb-menu::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background: #fff;
  -webkit-transform: translatey(-7px);
          transform: translatey(-7px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: 0 7px 0 #fff;
          box-shadow: 0 7px 0 #fff;
}

header .hamb-menu::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translatey(7px);
          transform: translatey(7px);
}

header .hamb-menu.active::before {
  -webkit-transform: translatey(0px) rotate(45deg);
          transform: translatey(0px) rotate(45deg);
  -webkit-box-shadow: 0 0px 0 #fff;
          box-shadow: 0 0px 0 #fff;
}

header .hamb-menu.active::after {
  -webkit-transform: translatey(0px) rotate(-45deg);
          transform: translatey(0px) rotate(-45deg);
}

header .logo, header nav ul li a {
  color: white;
  text-decoration: none;
}

header .logo {
  grid-column: span 5;
  font-family: "Alata", sans-serif;
  font-size: 2.3rem;
  position: relative;
  z-index: 5;
}

header nav {
  grid-column: span 6;
  visibility: hidden;
  display: none;
}

@media screen and (min-width: 768px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    grid-column: 8/-1;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (min-width: 768px) {
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-transform: uppercase;
  position: relative;
}

header nav ul li a:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  width: 0%;
  height: 1px;
  background-color: white;
  display: block;
  margin-bottom: -7px;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

@media screen and (min-width: 768px) {
  header nav ul li a {
    text-transform: unset;
  }
}

header nav ul li a:hover:after {
  width: 50%;
}

header nav.active {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100vh;
  inset: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  visibility: visible;
  z-index: 1;
}

header nav.active ul {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  width: min(1060px, 100% - 3rem);
  margin: 0 auto;
  height: 320px;
  overflow: auto;
}

header nav.active ul a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
}

header nav.active ul a::after {
  left: 0;
}

.about {
  text-align: center;
  padding: 8em 0;
}

@media screen and (min-width: 768px) {
  .about {
    text-align: left;
    padding: 10.5em 0 12em 0;
  }
}

@media screen and (min-width: 860px) {
  .about .container {
    -ms-grid-rows: 160px 330px;
        grid-template-rows: 160px 330px;
  }
}

.about picture,
.about .about-content {
  grid-column: span 6;
}

@media screen and (min-width: 860px) {
  .about picture {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
}

.about .about-content {
  background-color: white;
}

@media screen and (min-width: 860px) {
  .about .about-content {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    grid-column: 7/-1;
    padding: 3em;
  }
}

@media screen and (min-width: 980px) {
  .about .about-content {
    padding: 5em 0 0 5em;
  }
}

.about p {
  color: #8c8c8c;
  line-height: 1.8;
  padding: 0 15px;
}

@media screen and (min-width: 860px) {
  .about p {
    padding: 0;
  }
}

.about h2 {
  padding: 0 15px;
}

@media screen and (min-width: 860px) {
  .about h2 {
    padding: 0;
  }
}

.creations {
  padding: 0 0 8em 0;
}

@media screen and (min-width: 768px) {
  .creations {
    padding: 0em 0 12em 0;
  }
}

.creations h2 {
  margin-top: 0;
  grid-column: span 6;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .creations h2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 75px;
  }
}

.creations .container .btn {
  grid-column: span 6;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .creations .container .btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 0 0 auto;
  }
}

.creations .container .btn a {
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1.5px solid black;
  display: inline-block;
  padding: 8px 50px 9px 50px;
  text-decoration: none;
  color: black;
  margin-top: 25px;
  cursor: pointer;
  font-size: 1.067rem;
}

.creations .container .btn a:hover {
  background-color: black;
  color: white;
}

@media screen and (min-width: 768px) {
  .creations .container .btn a {
    margin-top: 0;
  }
}

.creations .gallery {
  display: -ms-grid;
  display: grid;
  grid-column: span 6;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .creations .gallery {
    grid-column: span 12;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 450px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.creations .gallery > div {
  position: relative;
  grid-column: span 6;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .creations .gallery > div {
    grid-column: span 3;
  }
}

.creations .gallery > div .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), to(rgba(0, 0, 0, 0.45)));
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.45));
}

.creations .gallery > div .overlay h3 {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  height: 100%;
  font-size: 1.5rem;
  width: 100%;
}

@media screen and (min-width: 930px) {
  .creations .gallery > div .overlay h3 {
    font-size: 2rem;
  }
}

.creations .gallery > div:hover .overlay {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
}

.creations .gallery > div:hover .overlay h3 {
  color: black;
}

footer {
  background-color: black;
  text-align: center;
  color: #8c8c8c;
  padding: 2.4em 0 3em;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 2em 0 2.8em;
  }
}

footer .logo {
  color: white;
  font-family: "Alata", sans-serif;
  font-size: 2rem;
}

footer .col-left,
footer .col-right {
  grid-column: span 6;
}

@media screen and (min-width: 768px) {
  footer .col-left {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  footer .col-right {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

footer ul li {
  list-style: none;
}

footer ul li a {
  color: white;
}

footer ul.footer-menu {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  margin-top: 1.45em;
}

@media screen and (min-width: 768px) {
  footer ul.footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 25px;
  }
}

footer ul.footer-menu a {
  position: relative;
  font-size: 1rem;
}

footer ul.footer-menu a:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  width: 0%;
  height: 1px;
  background-color: white;
  display: block;
  margin-bottom: -7px;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

footer ul.footer-menu a:hover:after {
  width: 50%;
}

footer ul.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  margin: 3em 0 1em;
}

@media screen and (min-width: 768px) {
  footer ul.socials {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0;
    margin-bottom: 1.8em;
  }
}

footer ul.socials a {
  position: relative;
}

footer ul.socials a:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: -10px;
  width: 0%;
  height: 1px;
  background-color: white;
  display: block;
  margin-bottom: -7px;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

footer ul.socials a:hover:after {
  width: 190%;
}

@media screen and (min-width: 768px) {
  footer p {
    text-align: right;
  }
}
/*# sourceMappingURL=styles.css.map */